


.jumbotron {
	padding-top: 6rem;
	background-color: #C0C0C0;
}


section {
	padding-top: 6rem;
}

#kemampuan {
	padding-top: 6rem;
	background-color: #c0c0c0;
	
}

.progress {
	border-style: solid ;
	border-color:#212529 ;
}

..progress-bar {
	background-color: #c0c0c0;

}

#pendidikan {
    background-color: #c0c0c0;

}

